body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f5f5;
  margin:50px;
  padding: 0 10px 0 10px;
}

.FAQ-Heading{
  color:#00334e;
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.FAQ-Heading:hover{
  color:#145374;
}

.row{
  display:flex;
}

.column{
  flex:50%;
}

.col2{
  margin-left: 75px;
}

@media(max-width:880px) {
  html {
    font-size: 14px;
  }

  .FAQ-Heading{
    font-size:1.8rem;
  }

  .row{
    flex-direction: column;
  }

  .column{
    width:100%;
  }

  .col2{
    margin:0;
  }
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.accordion-item-header:hover{
  color:#065446;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header .active::after {
  content: "\2212";
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
